In [1]:
import numpy as np;
import pandas as pd;
df = pd.DataFrame({'a':[1,2,3,4,np.nan,5],'b':[6,7,8,9,np.nan,10]})
df

     a     b
0  1.0   6.0
1  2.0   7.0
2  3.0   8.0
3  4.0   9.0
4  NaN   NaN
5  5.0  10.0

In [2]:
mean = np.nanmean(df)
df[np.isnan(df)]=mean
df

     a     b
0  1.0   6.0
1  2.0   7.0
2  3.0   8.0
3  4.0   9.0
4  5.5   5.5
5  5.0  10.0

In [11]:
df1 = pd.DataFrame({'a':[1,1,3,4,1],'b':[1,7,8,9,1],'c': [1,24,6,7,1]})
df1

   a  b   c
0  1  1   1
1  1  7  24
2  3  8   6
3  4  9   7
4  1  1   1

In [12]:
df1.drop_duplicates()

   a  b   c
0  1  1   1
1  1  7  24
2  3  8   6
3  4  9   7